<div class="content-wrapper">
  <div class="content">
    <div class="image">
      <%= image_tag "mako.jpeg" %> 
    </div>
    <div class="information">
      <div class="company">
        神野造園土木
      </div>
      <div class="information-list">
        <div class="information-block">
          <p>代表</p>
          <p>神野洋次</p>
        </div>
        <div class="information-block">
          <p>従業員</p>
          <p>1人</p>
        </div>
        <div class="information-block">
          <p>営業時間</p>
          <p>7:00 ~ 18:00</p>
        </div>
        <div class="information-block">
          <p>定休日</p>
          <p>年中無休</p>
        </div>
        <div class="information-block">
          <p>電話番号</p>
          <p>0120-1234-5678</p>
        </div>
        <div class="information-block">
          <p>所在地</p>
          <p>〒 000-0000</br>大阪府渋谷区一丁目2-3</p>
        </div>
      </div>
    </div>
  </div>
  <div class="button">
    <%= link_to "プロフィールを変更", new_profile_path %>
    <%= link_to "メッセージ", new_profile_path %>
    <%= link_to "フォロー", new_profile_path %>
    <%= link_to "フォロー中", new_profile_path %>
  </div>
  <div class="explanation">
    <p>
      病院・飲食店・美容院・ネイルサロン・Bar・学生塾など、いろいろな業種の
      病院・飲食店・美容院・ネイルサロン・Bar・学生塾など、いろいろな業種の
      病院・飲食店・美容院・ネイルサロン・Bar・学生塾など、いろいろな業種の
      病院・飲食店・美容院・ネイルサロン・Bar・学生塾など、いろいろな業種の
      病院・飲食店・美容院・ネイルサロン・Bar・学生塾など、いろいろな業種の
      病院・飲食店・美容院・ネイルサロン・Bar・学生塾など、いろ
    </p>
  </div>
  <div class="item-list">
    <ul>
      <li><%= link_to "実績" %></li>
      <li><%= link_to "予定表" %></li>
      <li><%= link_to "求人" %></li>
    </ul>
  </div>
</div>