<nav>
  <div class="logo">
    <h1><%= link_to "Sentei", root_path %></h1>
  </div>
  <div class="header-list">
    <ul>
      <li><%= link_to "ホーム", root_path %></li>
      <li><%= link_to "求人" %></li>
      <li><%= link_to "実績" %></li>
      <li><%= link_to "メッセージ" %></li>
      <li><%= link_to "プロフィール" %></li>
      <li><%= link_to "新規登録", new_user_registration_path %></li>
      <li><%= link_to "ログイン", new_user_session_path %></li>
      <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete, data: { confirm: "ログアウトしますか?" } %></li>
    </ul>
  </div>
</nav>