<nav>
  <div class="logo">
    <h1><%= link_to "S" %></h1>
  </div>
  <div class="header-list">
    <ul>
      <li><%= link_to "ホーム" %></li>
      <li><%= link_to "求人" %></li>
      <li><%= link_to "日記" %></li>
      <li><%= link_to "友だち" %></li>
      <li><%= link_to "プロフィール" %></li>
      <li><%= link_to "その他" %></li>
    </ul>
  </div>
</nav>